{% extends "base.html" %}

{% block content %}
<h1>Добавление департамента</h1>
<br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ('csrf_token', "enter") %}
        <p>
            {{ field.label }}<br>
            {% if dep %}
            {{ field(class="form-control", type=field.name, value=dep[field.name]) }}<br>
            {% else %}
            {{ field(class="form-control", type=field.name) }}<br>
            {% endif %}
            {% for error in field.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    {% endfor %}
    <a>
        <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
        <a class="btn btn-danger" href="/departments">Назад</a>
    </a>
    {{message}}
</form>
{% endblock %}