{% extends "base.html" %}

{% block content %}
<h1>Добавление работы</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ('csrf_token', "enter", "checkbox") %}
        <p>
            {{ field.label }}<br>
            {% if job %}
            {{ field(class="form-control", type=field.name, value=job[field.name]) }}<br>
            {% else %}
            {{ field(class="form-control", type=field.name) }}<br>
            {% endif %}
            {% for error in field.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    {% endfor %}
    <p>{{ form.is_finished(type="checkbox") }} {{ form.is_finished.label() }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}