{% extends "base.html" %}

{% block content %}
{% if jobs %}
    <h1 class="center">Работы</h1>
{% else %}
    <h1 class="center">Нет работ</h1>
{% endif %}
{% for job in jobs %}
    <h4>Работа # {{loop.index}}</h4>
    <table class="table">
        <tr bgcolor="#ccc">
            <td>Описание работы</td>
            <td>Главный</td>
            <td>Обьем работы</td>
            <td>Участники</td>
            <td>Работа выполнена?</td>
        </tr>
        <tr bgcolor="#94abff">
            <td>{{ job.job }}</td>
            <td>{% if job.user %} {{ job.user.surname }} {{job.user.name}} {% else %}Неизвестно Кто{% endif %}</td>
            <td>{{ job.work_size }}</td>
            <td>{{ teams[loop.index - 1] }}</td>
            {% if job.is_finished %}
                <td class="table-success">Выполнена</td>
            {% else %}
                <td class="table-danger">Не выполнена</td>
            {% endif %}
        </tr>
    </table>
    {% if job.user %}
        {% set tema_leader = job.user.id %}
    {% else %}
        {% set tema_leader = 1 %}
    {% endif %}
    {% if current_user.id in (1, job.creator, team_leader) %}
    <p>
        <a class="btn btn-primary" href="/change_job/{{ job.id }}" >Поменять работу</a>
        <a class="btn btn-danger" href="/delete_job/{{ job.id }}" >Удалить работу</a>
    </p>
    {% endif %}
{% endfor %}
{% endblock %}