{% extends "base.html" %}

{% block content %}
{% if jobs %}
    <h1 class="center">Работы</h1>
{% else %}
    <h1 class="center">Нет работ</h1>
{% endif %}
{% for job in jobs %}
    <h4>Работа # {{loop.index}}</h4>
    <table class="table">
        <tr bgcolor="#ccc">
            <td>Описание работы</td>
            <td>Главный</td>
            <td>Обьем работы</td>
            <td>Участники</td>
            <td>Работа выполнена?</td>
        </tr>
        <tr bgcolor="#94abff">
            <td>{{ job.job }}</td>
            <td>{{ job.user.surname }} {{ job.user.name }}</td>
            <td>{{ job.work_size }}</td>
            <td>{{ teams[loop.index - 1] }}</td>
            {% if job.is_finished %}
                <td class="table-success">Выполнена</td>
            {% else %}
                <td class="table-danger">Не выполнена</td>
            {% endif %}
        </tr>
    </table>
{% endfor %}
{% endblock %}